#outside-main {
    width: 400px;
    height: 400px;
    background-color: lightgray;
}
#main {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    margin: auto;
    margin-top: 100px;
}
#inside-main {
    width: 100px;
    height: 100px;
    background-color: black;
    margin: auto;
    margin-top: 100px;
}